In [1]:
import pandas as pd
import numpy as np

In [2]:
EV = pd.read_excel('IFEMA.xlsx')

In [3]:
EV.columns=[e.lower().replace(' ', '_') for e in EV.columns] 
display(EV.head())

,año,mes,total_eventos,exposición,congresos_y_convenciones,conciertos_y_festivales,total_expositores,expositores_nacionales,expositores_extranjeros,total_visitantes,total_visitantes_profesionales,visitantes_profesionales_nacionales,visitantes_profesionales_extranjero,visitantes_particulares,número_de_días_feriales
0,1999,Enero,0.0,7.0,0.0,0.0,4843.666667,3440.666667,1403.000000,491342.333333,116911.333333,108850.666667,8060.666667,374431.000000,0.0
1,1999,Febrero,0.0,7.0,0.0,0.0,4843.666667,3440.666667,1403.000000,491342.333333,116911.333333,108850.666667,8060.666667,374431.000000,0.0
2,1999,Marzo,0.0,7.0,0.0,0.0,4843.666667,3440.666667,1403.000000,491342.333333,116911.333333,108850.666667,8060.666667,374431.000000,0.0
3,1999,Abril,0.0,3.0,0.0,0.0,1289.666667,898.333333,391.333333,99339.333333,36913.000000,35352.666667,1560.333333,62426.333333,0.0
4,1999,Mayo,0.0,3.0,0.0,0.0,1289.666667,898.333333,391.333333,99339.333333,36913.000000,35352.666667,1560.333333,62426.333333,0.0

In [4]:
EV['date'] = EV['mes'].astype(str) +"-"+ EV['año'].astype(str)

In [5]:
EV['total_eventos']=EV['exposición']+EV['congresos_y_convenciones'] +EV['conciertos_y_festivales']

In [6]:
EV=EV[['date','mes','año', 'total_eventos', 'exposición',
       'congresos_y_convenciones', 'conciertos_y_festivales',
       'total_expositores', 'expositores_nacionales',
       'expositores_extranjeros', 'total_visitantes',
       'total_visitantes_profesionales', 'visitantes_profesionales_nacionales',
       'visitantes_profesionales_extranjero', 'visitantes_particulares',
       'número_de_días_feriales']]
EV

,date,mes,año,total_eventos,exposición,congresos_y_convenciones,conciertos_y_festivales,total_expositores,expositores_nacionales,expositores_extranjeros,total_visitantes,total_visitantes_profesionales,visitantes_profesionales_nacionales,visitantes_profesionales_extranjero,visitantes_particulares,número_de_días_feriales
0,Enero-1999,Enero,1999,7.000000,7.000000,0.000000,0.000000,4843.666667,3440.666667,1403.000000,491342.333333,116911.333333,108850.666667,8060.666667,374431.000000,0.000000
1,Febrero-1999,Febrero,1999,7.000000,7.000000,0.000000,0.000000,4843.666667,3440.666667,1403.000000,491342.333333,116911.333333,108850.666667,8060.666667,374431.000000,0.000000
2,Marzo-1999,Marzo,1999,7.000000,7.000000,0.000000,0.000000,4843.666667,3440.666667,1403.000000,491342.333333,116911.333333,108850.666667,8060.666667,374431.000000,0.000000
3,Abril-1999,Abril,1999,3.000000,3.000000,0.000000,0.000000,1289.666667,898.333333,391.333333,99339.333333,36913.000000,35352.666667,1560.333333,62426.333333,0.000000
4,Mayo-1999,Mayo,1999,3.000000,3.000000,0.000000,0.000000,1289.666667,898.333333,391.333333,99339.333333,36913.000000,35352.666667,1560.333333,62426.333333,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,agosto-2021,agosto,2021,16.666667,5.666667,8.333333,2.666667,286.000000,196.333333,89.666667,45002.333333,10240.666667,9523.666667,717.000000,12588.000000,7.666667
272,septiembre-2021,septiembre,2021,16.666667,5.666667,8.333333,2.666667,286.000000,196.333333,89.666667,45002.333333,10240.666667,9523.666667,717.000000,12588.000000,7.666667
273,octubre-2021,octubre,2021,76.333333,15.333333,57.000000,4.000000,538.666667,403.333333,135.333333,367097.333333,25516.000000,22619.000000,2897.000000,46694.000000,25.000000
274,noviembre-2021,noviembre,2021,76.333333,15.333333,57.000000,4.000000,538.666667,403.333333,135.333333,367097.333333,25516.000000,22619.000000,2897.000000,46694.000000,25.000000
275,diciembre-2021,diciembre,2021,76.333333,15.333333,57.000000,4.000000,538.666667,403.333333,135.333333,367097.333333,25516.000000,22619.000000,2897.000000,46694.000000,25.000000